:root {
  --date-width: 100px;
}



body {
    font-family: "calibri", sans-serif;
    margin: auto;
    color: 3C3C3C;
    background-color: #F3F3F3;
    font-weight: 100; 
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
    background-color: #9E3039;
    padding: 10px;
    color: #f3f3f3;
}

h3 {
    font-size: 24px;

}

#main {
    width: 90%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 30px;
}

.smallimg {
    width: 100%;
    margin: 5px;
}

.logorij img {
    width: 70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.speakerdivwrap {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 20px; 
}

.speakerdivwrap-wide {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 20px; 
}

.speakerdivwrap-wide img {
    float: right;
}

.speakerdiv {
    margin: 10px;
}

.logorij {
    display: grid;
    grid-template-columns: 1fr;
}

.logodiv {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 800px) {
    #main {
        width: 750px;
    }
    
    .smallimg {
        width: 49%;
    }

    .speakerdivwrap {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
    }

    .logorij {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logorij img {
        width: 100%;
    }
}

.bigimg {
    width: 100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #f3f3f3;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/* Style the collapsible content. Note: hidden by default */
.collap_content {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

.collap_text {
    color: #666666;
}

.function_title {
    display: inline-block;
    width: -webkit-calc(100% - var(--date-width) - 10px);
    width:    -moz-calc(100% - var(--date-width) - 10px);
    width:         calc(100% - var(--date-width) - 10px);
    font-size: 19px;
    padding-top: 0px
}

.function_period {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: var(--date-width); 
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
    padding-top: 4px;
    
}

.function_company {
    display: inline-block;
    text-align: left;
    color: #777777;
    font-size: 16px;
}


.function_header {
    margin-bottom: 10px;
}

.function_short_description {
    color: #555555;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}


a {
    color: #222222;
}



tr {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}

.main_row {
    cursor: pointer;
}

.sub_row {
    display: none;
}

.active_row, .main_row:hover {
  background-color: #9E3039;
}

.sub_row > td {
    padding-left: 5px;
    color: #999999;
}

th, td { 
    text-align: center;
}
th:first-child, td:first-child { 
    text-align: left;
}

.speakerimg {
    object-fit: cover;
    float: left;
    width: 140px;
    height: 140px;
    margin: 0px 10px 10px 10px;
    border-radius: 25px;
}

.header-top {
    background-color: #FFFFFF;
    height: 120px;
    width: 100%;
}

.header {    
    background-image: url(./rekawave.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 80px;
    width: 100%;
}

.header-img {
    height: 100%;
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .header-img {
        width: 80%;
        height: auto;
    }
}


.returnbutton {
    padding: 20px; 
    background-color: #3c3c3c;
    width: auto;
    display: inline-block;
}

.returnbutton a {
    color: #FFFFFF;
}

.returnbutton:hover {
  background-color: #ccc;
}
.returnbutton a {
    text-decoration: none !important;
}

.notabene {
    font-weight: 700;
}
